<div class="row justify-content-center">
  <div class="col-6">
    <h1 class="title">Add a Dose</h1>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, label_method: :name, value_method: :id, include_blank: false, input_html: { class: 'select2' } %>
      <%= f.input :description %>
      <%= f.submit "Submit", class: "btn btn-dark"%>
      <%= link_to "Cancel", cocktail_path(@cocktail), class: "btn btn-warning ml-3 border" %>
    <% end %>
  </div>
</div>


